<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img class="h-10 w-auto" src="../../../assets/eWorks_logos_line_secondary_dark_font.png" alt="Your Company">
        <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-gray-900">Sign up new account</h2>
        <p class="mt-2 text-sm/6 text-gray-500">
          Already a member?
          <a routerLink="/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Login</a>
        </p>
      </div>

      <div class="mt-10">
        <div>
          <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="space-y-6">
            @if (formStatus == RegisterFormStatus.Failure) {
              <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold block">Unable to register! </strong>
                @if (errors && errors.length == 0) {
                  <span class="block">please try again later.</span>
                } @else {
                  @for (err of errors; track err.code) {
                    <span class="block">{{ err.description }}</span>
                  }
                }
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3" (click)="clearErrors()">
                  <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                       viewBox="0 0 20 20"><title>Close</title><path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
              </div>
            }
            @if (formStatus == RegisterFormStatus.Success) {
              <div class="rounded-md bg-green-50 p-4">
                <div class="flex">
                  <div class="shrink-0">
                    <svg class="size-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                         data-slot="icon">
                      <path fill-rule="evenodd"
                            d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                            clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <div class="ml-3">
                    <h3 class="text-sm font-medium text-green-800">Registration Success</h3>
                    <div class="mt-2 text-sm text-green-700">
                      <p>Thanks for registering! Please check your email to complete registration.</p>
                    </div>
                    <div class="mt-4">
                      <div class="-mx-2 -my-1.5 flex">
                        <button type="button"
                                (click)="resendEmail()"
                                class="rounded-md bg-green-50 px-2 py-1.5 text-sm font-medium text-green-800 hover:bg-green-100 focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50 focus:outline-hidden">
                          Resend verification email
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

            <div>
              <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
              <div class="mt-2">
                <input type="email"
                       placeholder="Email"
                       formControlName="email"
                       name="email"
                       id="email"
                       autocomplete="email"
                       [ngClass]="{'outline-red-500': emailControl.invalid && emailControl.dirty}"
                       required
                       class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6">
                <div
                  class="inline-error"
                  [@slideIn]="emailControl.invalid && emailControl.dirty? 'visible' : 'hidden'"
                >
                  @if (emailControl.hasError('required') && emailControl.dirty) {
                    <small class="text-red-400">Email is required</small>
                  } @else if (emailControl.hasError('pattern') && emailControl.dirty) {
                    <small class="text-red-400">Please provide a valid email address</small>
                  } @else if (emailControl.hasError('emailTaken') && emailControl.dirty) {
                    <small class="text-red-400">This email has been used, please use another one.</small>
                  }
                </div>
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
              <div class="mt-2">
                <input placeholder="Password"
                       formControlName="password"
                       name="password"
                       id="password"
                       type="password"
                       autocomplete="new-password"
                       [ngClass]="{'outline-red-500': pwdControl.invalid && pwdControl.dirty}"
                       required
                       class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                <div
                  [@slideIn]="pwdControl.invalid && pwdControl.dirty? 'visible' : 'hidden'"
                  class="inline-error">
                  <small [ngClass]="{'hidden': (!pwdControl.hasError('required') || !pwdControl.dirty)}"
                    class="text-red-600">Password is required</small>
                  <small [ngClass]="{'hidden': (!pwdControl.hasError('minlength') || pwdControl.hasError('required') || !pwdControl.dirty)}"
                    class="text-red-400">It should contain at least 8 characters.</small>
                  <small class="text-red-400 inline-block"></small>
                  @if (pwdControl.hasError('pattern') && pwdControl.dirty && !pwdControl.hasError('minlength') && !pwdControl.hasError('required') ) {
                    <small
                      class="text-red-400">Please provide a valid password.</small>
                    <div class="mx-2 text-sm/3">
                      <small class="text-red-400 inline-block">It should contain at least one uppercase letter.</small>
                      <small class="text-red-400 inline-block">It should contain at least one lowercase letter.</small>
                      <small class="text-red-400 inline-block">It should contain at least one number.</small>
                      <small class="text-red-400 inline-block">It should contain at least one special character (e.g.,!, #).</small>
                    </div>
                  }
                </div>
              </div>
            </div>
            <div>
              <label for="confirmPassword" class="block text-sm/6 font-medium text-gray-900">Confirm Password</label>
              <div class="mt-2">
                <input placeholder="Confirm Password"
                       formControlName="confirmPassword"
                       name="confirmPassword"
                       id="confirmPassword"
                       type="password"
                       [ngClass]="{'outline-red-500': confirmPwdControl.invalid && confirmPwdControl.dirty}"
                       autocomplete="new-password"
                       required
                       class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                <div
                  [@slideIn]="confirmPwdControl.dirty &&  (this.pwdControl.value !== this.confirmPwdControl.value) ? 'visible' : 'hidden'"
                  class="inline-error">
                  <small class="text-red-400">Passwords do not match</small>
                </div>
              </div>
            </div>

            <div>
              <button type="submit"
                      [disabled]="registerForm.invalid && registerForm.dirty"
                      [ngClass]="{
                        'cursor-not-allowed bg-indigo-500' : registerForm.invalid,
                        'bg-indigo-600 hover:bg-indigo-500' : registerForm.valid || registerForm.pending,
                      }"
                      class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Sign Up
              </button>
            </div>
          </form>
        </div>

        <div class="mt-10">
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-200"></div>
            </div>
            <div class="relative flex justify-center text-sm/6 font-medium">
              <span class="bg-white px-6 text-gray-900">Or continue with</span>
            </div>
          </div>

          <div class="mt-6 grid grid-cols-2 gap-4">
            <a href="#"
               class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:ring-transparent">
              <svg class="h-5 w-5" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  d="M12.0003 4.75C13.7703 4.75 15.3553 5.36002 16.6053 6.54998L20.0303 3.125C17.9502 1.19 15.2353 0 12.0003 0C7.31028 0 3.25527 2.69 1.28027 6.60998L5.27028 9.70498C6.21525 6.86002 8.87028 4.75 12.0003 4.75Z"
                  fill="#EA4335"/>
                <path
                  d="M23.49 12.275C23.49 11.49 23.415 10.73 23.3 10H12V14.51H18.47C18.18 15.99 17.34 17.25 16.08 18.1L19.945 21.1C22.2 19.01 23.49 15.92 23.49 12.275Z"
                  fill="#4285F4"/>
                <path
                  d="M5.26498 14.2949C5.02498 13.5699 4.88501 12.7999 4.88501 11.9999C4.88501 11.1999 5.01998 10.4299 5.26498 9.7049L1.275 6.60986C0.46 8.22986 0 10.0599 0 11.9999C0 13.9399 0.46 15.7699 1.28 17.3899L5.26498 14.2949Z"
                  fill="#FBBC05"/>
                <path
                  d="M12.0004 24.0001C15.2404 24.0001 17.9654 22.935 19.9454 21.095L16.0804 18.095C15.0054 18.82 13.6204 19.245 12.0004 19.245C8.8704 19.245 6.21537 17.135 5.2654 14.29L1.27539 17.385C3.25539 21.31 7.3104 24.0001 12.0004 24.0001Z"
                  fill="#34A853"/>
              </svg>
              <span class="text-sm/6 font-semibold">Google</span>
            </a>

            <a href="#"
               class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:ring-transparent">
              <svg class="size-5 fill-[#24292F]" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z"
                      clip-rule="evenodd"/>
              </svg>
              <span class="text-sm/6 font-semibold">GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 size-full object-cover" src="../../../assets/login-side-img.avif" alt="">
  </div>
</div>

